<h2>Search Results</h2>

<ul class="closest_stations"><% @fuel_stations.each do |station| %> <br>
    <li>Station Name: <%= station.name %> <br></li>
    <li>Phone: <%= station.phone %> <br></li>
    <li>Fuel Type: <%= station.fuel_type %> <br></li>
    <li>Distance: <%= station.distance %> miles <br></li>
    <li>Access: <%= station.access %> <br></li>
      <li>Address: <%= station.street_address %> <%= station.city %> <%= station.state %> <br> </li>
    _____________________________________________________________________________________________

<% end %>
</ul>